html, body{
    font-family: Roboto, sans-serif;
/*    font-size: 15px; 
/*    line-height: 1.5; */
}

h1,h2,h3,h4,h5,h6{
    font-weight:400;
}

h1 {
    font-size : 1.6em;
}

h2 {
    font-size : 1.4em;
    font-style: italic;
}

h3 {
    font-size : 1.2em;
    font-style: italic;
}

body {
    color	    : darkgrey;
    background-color: black;
    font-family     :"Roboto",sans-serif;
    font-size       :18px;
    line-height     :31px;
}

/* links */
a:link  {
    color	    : lightblue;
    background-color: transparent;
}

a:visited{
    color	    : darkcyan;
    background-color: transparent;
}

a:hover{
    color	    : red;
    background-color: transparent;
    text-decoration : underline;
}

a:active{
    color	    : yellow;
    background-color: transparent;
    text-decoration : underline;
}

p {
    text-indent: 30px;
    text-align: justify;
}

/* Esto no queda bien @_@
ul, ol {
    text-indent: 30px;
    text-align: justify;
}
*/

#blog_header{
    text-align: center;
    font-size: 14px
}

#blog_footer {
    text-align: left;
/*    border-top-style: solid; */
    font-size: 14px 
}

#sign {
    text-align: right;
    font-size: 20px;
}

.headline_area{
    text-align: center;
}

.headline_area h1{
    text-align: center;
}

.byline {
    font-size:14px;
    line-height:25px;
    color:darkgray;
    margin-top:-10px
}

.byline .post_date_intro::before{
    content:'\2022\0020'
}

#ged_picture{
    width: 80px;
}


.propuesta {
    border: 1px solid darkgray;
    border-radius: 10px;

    box-shadow: 2px 4px 6px #eeeeee;

    padding: 2em;
    margin: 2em 0;

    text-align: justify;

    position: relative;
}

.propuesta:before{
  content: "PROPUESTA";
  font-style: italic;
  color: #DCA740;
  font-family: Raleway;
  font-size: 1.3em;
}

.posdata{
}
.posdata:before{
  content: "PD:";
  font-style: italic;
  color: #DCA740;
  font-family: Raleway;
  font-size: 1.1em;
}

.censurado:before{
    /*content: "xxxx"*/
    content: "\2588\2588\2588\2588\2588"
}


/************************************************************************
 *				NAVBAR
 ************************************************************************/

/* top */
.navbar_top {
    position: relative;
    overflow: hidden;
    top: 0px; 
}

.navbar_top a {
    float: left;

    text-align: center;
    text-transform: uppercase;
    text-decoration: none;

    color: #ffffff;
    font-size: 0.85em;
    letter-spacing: 0.10em;
    height: 36px;

    padding: 10px 3px;
    margin: 10px 15px;

}


.navbar_centered a {
    float: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.navbar_right {
  float: right;
}


/************************************************************************
 *				MEDIA
 ************************************************************************/
/* Navigation menu (for mobile devices) */
@media screen and (max-width: 700px) {
  .navbar_top a, .navbar_right{
    float: none;
    display: block;
  }
  
  .navbar_centered a {
    position: relative;
    top: 0;
    left: 0;
    transform: none;
  }
}

/* Como no tengo experiencia voy a usar como base el estilo
   de nixCraft. Lo iré modificando poco a poco a mi gusto.
 */
@media all and (min-width:682px)
{
.blog_sheet{
    max-width:644px;
    padding-left:0;
    padding-right:0;
    margin-left:auto;
    margin-right:auto
}
}

@media all and (min-width:706px)
{
.blog_sheet{
    max-width:100%;
    padding-left:31px;
    padding-right:31px;
    margin-left:0;
    margin-right:0
}
}

@media all and (min-width:1102px)
{
.blog_sheet{
    max-width:1040px;
    padding-left:0;
    padding-right:0;
    margin-left:auto;
    margin-right:auto
}
}



/************************************************************************
 *				TABLES
 ************************************************************************/

table.zebra{
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.zebra td, .zebra th{
  border: 1px solid;
  text-align: left;
  padding: 8px;
}

.zebra tr:nth-child(even) {
/*  background-color: darkgrey;*/
}
