html, body{
    font-family: Roboto, sans-serif;
/*    font-size: 15px; 
/*    line-height: 1.5; */
}

h1,h2,h3,h4,h5,h6{
    font-weight:400;
}

body {
    color	    : darkgrey;
    background-color: black;
    font-family     :"Roboto",sans-serif;
    font-size       :18px;
    line-height     :31px;
/*    overflow-x      :hidden;*/
}

/* links */
a:link  {
    color	    : lightblue;
    background-color: transparent;
}

a:visited{
    color	    : darkcyan;
    background-color: transparent;
}

a:hover{
    color	    : red;
    background-color: transparent;
    text-decoration : underline;
}

a:active{
    color	    : yellow;
    background-color: transparent;
    text-decoration : underline;
}

p {
    text-indent: 30px;
    text-align: justify;
}


#header {
    text-align: center;
    font-size: 14px
}

/*
#footer {
    text-align: left;
    border-top-style: solid; 
    font-size: 14px 
}

#footer::before {
    content: "Gritos en el desierto"
}
*/

.headline_area{
    text-align: center;
}

.headline_area h1{
    text-align: center;
}

.byline {
    font-size:14px;
    line-height:25px;
    color:darkgray;
    margin-top:-10px
}

.byline .post_date_intro::before{
    content:'\2022\0020'
}

/* Como no tengo experiencia voy a usar como base el estilo 
   de nixCraft. Lo iré modificando poco a poco a mi gusto. 
 */
@media all and (min-width:682px)
{
.container{
    max-width:644px;
    padding-left:0;
    padding-right:0;
    margin-left:auto;
    margin-right:auto
}
}

@media all and (min-width:706px)
{
.container{
    max-width:100%;
    padding-left:31px;
    padding-right:31px;
    margin-left:0;
    margin-right:0
}
}

@media all and (min-width:1102px)
{
.container{
    max-width:1040px;
    padding-left:0;
    padding-right:0;
    margin-left:auto;
    margin-right:auto
}
}


